aiofiles==23.2.1
aiohttp==3.9.1
aiosignal==1.3.1
altair==5.2.0
annotated-types==0.6.0
asgiref==3.7.2
asyncer==0.0.2
AudioRecorder==0.1
azure-common==1.1.28
azure-core==1.30.0
azure-identity==1.15.0
azure-keyvault-secrets==4.7.0
azure-storage-blob==12.19.0
azure-storage-file-datalake==12.14.0
backoff==2.2.1
bcrypt==4.1.2

bidict==0.22.1

blinker==1.7.0
blis==0.7.11

build==1.0.3
cachetools==5.3.2
catalogue==2.0.10

chainlit==1.0.200
charset-normalizer 
chroma-hnswlib==0.7.3
chromadb==0.4.22
click==8.1.7
cloudpathlib==0.16.0

coloredlogs==15.0.1

comtypes==1.3.0
confection==0.1.4
contourpy==1.2.0

cycler==0.12.1
cymem==2.0.8
dataclasses-json==0.5.14

Deprecated==1.2.14
distro==1.9.0
entrypoints==0.4

faiss-cpu==1.7.4
Faker==23.1.0
fastapi==0.108.0
fastapi-socketio==0.0.10

favicon==0.7.0
ffmpeg==1.4
filelock==3.13.1
filetype==1.2.0
flatbuffers==23.5.26
fonttools==4.47.2
frozenlist==1.4.1
fsspec==2023.12.2
future==0.18.3
gitdb==4.0.11
GitPython==3.1.41
google-auth==2.26.2
googleapis-common-protos==1.62.0
greenlet==3.0.3
grpcio==1.60.0
gTTS==2.5.1
h11==0.14.0
htbuilder==0.6.2
httpcore==0.17.3
httplib2==0.22.0
httptools==0.6.1
httpx==0.24.1
httpx-sse==0.4.0
huggingface-hub==0.20.3
humanfriendly==10.0

importlib-metadata==6.11.0
importlib-resources==6.1.1
interchange==2021.0.4

ipython-ngql==0.7.5

isodate==0.6.1

joblib==1.3.2

jsonpatch==1.33
jsonpointer==2.4

kiwisolver==1.4.5
kubernetes==29.0.0
langchain==0.0.354
langchain-community==0.0.8
langchain-core==0.1.19
langchain-openai==0.0.5
langcodes==3.3.0
langserve==0.0.41
langsmith==0.0.86
Lazify==0.4.0
literalai==0.0.103
llama-index==0.9.27
lxml==5.1.0
Markdown==3.5.2
markdown-it-py==3.0.0
markdownlit==0.0.7

marshmallow==3.20.1
matplotlib==3.8.2

mmh3==4.1.0
monotonic==1.6
more-itertools==10.2.0
mpmath==1.3.0
msal==1.26.0
msal-extensions==1.1.0
multidict==6.0.4
murmurhash==1.0.10
mypy-extensions==1.0.0


nebula3-python==3.4.0
neo4j==5.16.0
nest-asyncio==1.5.8
networkx==3.2.1
nltk==3.8.1

numpy==1.26.3
oauthlib==3.2.2
onnxruntime==1.16.3
openai==1.11.1
opentelemetry-api==1.22.0
opentelemetry-exporter-otlp==1.22.0
opentelemetry-exporter-otlp-proto-common==1.22.0
opentelemetry-exporter-otlp-proto-grpc==1.22.0
opentelemetry-exporter-otlp-proto-http==1.22.0
opentelemetry-instrumentation==0.43b0
opentelemetry-instrumentation-asgi==0.43b0
opentelemetry-instrumentation-fastapi==0.43b0
opentelemetry-proto==1.22.0
opentelemetry-sdk==1.22.0
opentelemetry-semantic-conventions==0.43b0
opentelemetry-util-http==0.43b0
orjson==3.9.13

packaging==23.2
pandas==2.1.4

pansi==2020.7.3

pillow==10.2.0

ply==3.11
portalocker==2.8.2
posthog==3.3.2
preshed==3.0.9

protobuf==4.25.2

pulsar-client==3.4.0

py2neo==2021.2.4
py4j==0.10.9.7
pyarrow==15.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
PyAudio==0.2.14

pydantic==2.5.3
pydantic_core==2.14.6
pydeck==0.8.1b0
pydub==0.25.1

PyJWT==2.8.0
pymdown-extensions==10.7
pyodbc==5.0.1

pyparsing==3.1.1
pypdf==4.0.1
PyPika==0.48.9
pypiwin32==223
pyproject_hooks==1.0.0
PyQt5==5.15.10

pyreadline3==3.4.1

pyspark==3.5.0

python-graphql-client==0.4.3
SpeechRecognition==3.10.1

streamlit==1.31.0
streamlit-audiorec==0.1.3
streamlit-audiorecorder==0.0.4
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.0
streamlit-embedcode==0.1.2
streamlit-extras==0.4.0
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.2
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
xgboost==2.0.3

networkx==3.2.1

pypdf

pyodbc==5.0.1

spacy==3.7.2
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz

torch
tiktoken
PyPDF2