
python-graphql-client==0.4.3
SpeechRecognition==3.10.1

streamlit==1.31.0
streamlit-audiorec==0.1.3
streamlit-audiorecorder==0.0.4
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.0
streamlit-embedcode==0.1.2
streamlit-extras==0.4.0
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.2
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5

langchain
matplotlib==3.7.3
networkx==3.2.1
numpy==1.24.4
pandas==1.5.3
plotly==5.18.0
plotly_express==0.4.1
pypdf
pygwalker==0.3.18
pyodbc==5.0.1
pyvis==0.3.2
spacy==3.7.2
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
streamlit
azure-storage-file-datalake
nltk
llama-index
langchain-openai
transformers
cartography 
torch
langchain-experimental
openai
tiktoken
PyPDF2
PyAudio